@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-white bg-black ;
}

html {
    @apply scroll-smooth scroll-p-20 xl:scroll-p-28;
}

::-webkit-scrollbar {
    @apply hidden;
}

a {
    @apply outline-none;
}

.text-shadow {
    text-shadow: 0px 4px 4px #67e8f9;
}

.hero {
    width: 100%;
    height: 101%;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 60%, #000), linear-gradient(180deg, rgba(0, 0, 0, .624), hsla(0, 0%, 100%, 0) 60%), linear-gradient(270deg, hsla(0, 0%, 99%, 0) 40%, rgba(0, 0, 0, .541) 80%);
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
}

.side_episodes::-webkit-scrollbar,
.description::-webkit-scrollbar,
.ep_section::-webkit-scrollbar {
    @apply !block w-2;
}

.side_episodes::-webkit-scrollbar-thumb,
.description::-webkit-scrollbar-thumb,
.ep_section::-webkit-scrollbar-thumb {
    @apply bg-cyan-300 rounded-full cursor-grab;
}

/* swiper */
.swiper-button-prev, 
.swiper-button-next {
    @apply !h-full !top-0
}

.watched .swiper-button-prev, 
.watched .swiper-button-next {
    @apply !h-full !top-[1.25rem]
}

.characters .swiper-button-prev,
.characters .swiper-button-next {
    @apply !h-full !top-[1.25rem]
}

.swiper-button-prev {
    @apply !bg-gradient-to-l !from-transparent !to-black !left-0;
}

.swiper-button-next {
    @apply !bg-gradient-to-r !from-transparent !to-black !right-0;
}

.swiper-button-prev:after, .swiper-button-next:after {
    @apply text-cyan-300 !text-base md:!text-[24px];
}

.episodes {
    @apply w-full overflow-x-hidden mx-auto mt-4 mb-7 grid grid-cols-[repeat(auto-fill,minmax(50px,1fr))] gap-[10px];
}

/* disqus */
.textarea-wrapper {
    @apply !rounded-md;
}

@layer utilities {
    .container {
        @apply max-w-[1680px] w-full mx-auto px-3.5 sm:px-5;
    }

    .btn {
        @apply w-fit px-5 py-2 block tracking-wide hover:!bg-cyan-800 transition-all border border-cyan-300 hover:!border-cyan-800 hover:shadow-[0px_0px_5px_1px] hover:shadow-cyan-300;
    }

    .btn-primary {
        @apply bg-cyan-500;
    }

    .after {
        @apply pl-3 relative after:content-[''] after:absolute after:left-0 after:top-0 after:h-[100%] after:w-1 after:rounded-full after:bg-cyan-300;
    }

    .detail_menu {
        @apply relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:h-[2px] after:w-full after:bg-cyan-300;
    }
}   


/* glitch loading */

.glitch {
    @apply relative text-[25px]/[1.2] font-bold text-white tracking-[5px] z-[1] animate-[shift_1s_ease-in-out_infinite_alternate];
}
  
.glitch:before,
.glitch:after {
    @apply block content-[attr(data-glitch)] absolute top-0 left-0 opacity-80;
}

.glitch:before {
    @apply animate-[glitch_0.4s_cubic-bezier(0.25,0.46,0.45,0.94)_both_infinite] text-[#8b00ff] z-[-1];
}

.glitch:after {
    @apply animate-[glitch_0.4s_cubic-bezier(0.25,0.46,0.45,0.94)_reverse_both_infinite] text-[#00e571] z-[-2]
}

@keyframes glitch {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translate(-3px, 3px);
    }

    40% {
      transform: translate(-3px, -3px);
    }

    60% {
      transform: translate(3px, 3px);
    }

    80% {
      transform: translate(3px, -3px);
    }

    to {
      transform: translate(0);
    }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
  }

  41% {
     transform: skewX(10deg);
  }

  42% {
      transform: skewX(-10deg);
  }

  59% {
      transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
      transform: skewX(10deg) skewY(-5deg);
  }

  70% {
      transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
      transform: skewX(10deg) skewY(-10deg);
  }
}
  