@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-white bg-black ;
}

html {
    @apply scroll-smooth scroll-p-20 xl:scroll-p-28;
}

::-webkit-scrollbar {
    @apply hidden;
}

a {
    @apply outline-none;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(103, 232, 249, 0.5);
}

.hero {
    width: 100%;
    height: 101%;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 60%, #000), linear-gradient(180deg, rgba(0, 0, 0, .624), hsla(0, 0%, 100%, 0) 60%), linear-gradient(270deg, hsla(0, 0%, 99%, 0) 40%, rgba(0, 0, 0, .541) 80%);
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
}

.ep_section::-webkit-scrollbar {
    @apply !block w-2;
}

.ep_section::-webkit-scrollbar-thumb {
    @apply bg-cyan-300 rounded-full cursor-grab;
}

.container #reactions.reactions-refresh {
    @apply !hidden;
}

/* swiper */
.swiper-button-prev, .swiper-button-next {
    height: 100%!important;
    top: 0!important;
}

.watched .swiper-button-prev, .watched .swiper-button-next {
    height: 100%!important;
    top: 1.25rem!important;
}

.swiper-button-prev {
    @apply !bg-gradient-to-l !from-transparent !to-black !left-0;
}

.swiper-button-next {
    @apply !bg-gradient-to-r !from-transparent !to-black !right-0;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 24px!important;
    font-weight: bold;
    line-height: 1;
    @apply text-cyan-300;
}

.episodes {
    @apply w-full overflow-x-hidden mx-auto mt-4 mb-7 grid grid-cols-[repeat(auto-fill,minmax(50px,1fr))] gap-[10px];
}

@layer utilities {
    .container {
        @apply max-w-[1680px] w-full mx-auto px-3 sm:px-5;
    }

    .btn {
        @apply w-fit px-5 py-2 block tracking-wide hover:bg-cyan-800 transition-all border border-cyan-300 hover:border-cyan-800 hover:shadow-[0px_0px_5px_1px] hover:shadow-cyan-300;
    }

    .btn-primary {
        @apply bg-cyan-500;
    }

    .after {
        @apply pl-3 relative after:content-[''] after:absolute after:left-0 after:top-0 after:h-[100%] after:w-1 after:rounded-full after:bg-cyan-300;
    }

    .detail_menu {
        @apply relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:h-[2px] after:w-full after:bg-cyan-300;
    }
}   